/* styles/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;



body {
    color: #e5e5e5;
    background: #1a1a1a;
    scrollbar-color: #1a1a1a #e5e5e5; /* thumb color and track color */
    scrollbar-width: thin; /* For Firefox */
    height: 100%;
}
